name: github pages

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source code.
        uses: actions/checkout@v2

      - name: Generate Environment Variables File
        run: |
          echo "GENERATE_SOURCEMAP=$GENERATE_SOURCEMAP" >> .env
          cat .env
        env:
          GENERATE_SOURCEMAP: ${{ secrets.GENERATE_SOURCEMAP }}

      # - name: Install dependencies
      #   run: npm install

      # - name: Build
      #   run: npm run build

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci
      - run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
